* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.body{
    font-family: sans-serif;
    background: #cfcfcd;
    
}
.mains{
    display: flex;
    padding: 100px;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(60, 60, 155);
    margin: 100px 40px;
    border-radius: 25px;
}

.mains p{
    color: blanchedalmond;
    font-size: 1rem;
    font-weight: 700;
    font-family: monospace;
}
.chip{
    display: inline-flex;
    align-items:center; 
    width: 180px;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    outline: 2px solid black;
    justify-content: space-evenly;
}